
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Shop Temp (Modern)</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div class="menuCont">
    <a class="menuButton" href="/detail.html">Graph</a>
    <a class="menuButton" href="/detail2.html">Graph 3D</a>
  </div>
  <div class="cont">
    <div class="panel">
      <div class="barCont" style="width: 5%;"></div>
      <div class="barCont" style="width: 60%;">
        <div class="cont">
          <div class="textCont">
            <div class="infoText">91 F</div>
          </div>
        </div>
        <div class="cont">
          <div class="textCont">
            <div class="infoText">H: 42%</div>
          </div>
        </div>
        <div class="cont">
          <div class="textCont">
            <div class="infoText">986 hPa</div>
          </div>
        </div>
      </div>
      <div class="barCont">
        <div class="cont">
          <div class="barcontainer" style="background-image:linear-gradient(to right, #003264, #643200)">
            <div class="barProgress" style="width: 65.574%;">
              <div class="bar" style="background-image:linear-gradient(to right, #0084ff, #ff941a); animation-name: barAnim1;"></div>
            </div>
          </div>
        </div>
        <div class="cont">
          <div class="barcontainer" style="background-image:linear-gradient(to right, #005250, #610042)">
            <div class="barProgress" style="width: 42%;">
              <div class="bar" style="background-image:linear-gradient(to right, #00d7b4, #ff006f); animation-name: barAnim2;"></div>
            </div>
          </div>
        </div>
        <div class="cont">
          <div class="barcontainer" style="background-image:linear-gradient(to right, #001964, #641900)">
            <div class="barProgress" style="width: 98.69494999999999%;">
              <div class="bar" style="background-image:linear-gradient(to right, #1650fe, #ff3333); animation-name: barAnim3;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="script.js"></script>
</body>
</html>
